* {
  font-family: poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  transition: transform 1s ease;
  box-sizing: border-box;
  padding-left: 3px;
  padding-right: 5px;
  margin: auto;
  width: 100%;
  max-width: 1200px;

}

.container.clicked {
  transform: translateY(-30px);
}

.img-container.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.img-container.clicked {
  align-items: normal;
}


.logo-container {
  /* border: 5px black solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  height: 100%;
}

.logo-container.logo-block {
  margin-top: 30px;
  align-items: normal;
  max-width: 50vh;
  min-width: 30vh;
  width: 40%;
  height: auto;
  margin-bottom: 5%;
}

.logo-block {
  /* display: block; */
  margin: 0 auto
}

.littlewonton {
  max-width: 80%;
}

.logo {
  margin-top: -12%;
  max-width: 40%;
}

.madewithlove {
  max-width: 25%;

}

.clickme {
  max-width: 25%;
  margin-top: -23%;
  margin-left: 55%
}

.clickme.logo-block {
  display: none;
}

.product-table {
  max-width: 800px;
  margin: 0 auto;
}


body {
  background-color: #F7F5F2;
  color: #503d3d;
  overflow-x: hidden;
}

/* Header */
h1 {
  font-size: 1.5rem;
  margin: 20px;
  text-align: center;
}

.grid-container {
  display: grid;
  gap: 5px;
  margin-bottom: 20px;
  align-items: stretch;
  /* width: 100vw; */
}

/* Frozen grid configuration */
.grid-container.frozen {
  /* grid-template-columns: 3fr 2fr 3fr 1fr 1fr; */
  grid-template-columns: minmax(50px, 3fr) minmax(50px, 2fr) minmax(75px, 3fr) minmax(25px, 1fr) minmax(25px, 1fr);
}

.grid-container.cooked {
  display: grid;
  /* grid-template-columns: 2fr 1fr 4fr 1fr 1fr; */
  grid-template-columns: minmax(50px, 2fr) minmax(25px, 1fr) minmax(100px, 4fr) minmax(25px, 1fr) minmax(25px, 1fr);
  align-items: center;
}


.payment-photo {
  width: 40%;
}


/* Grid items and headers */
.grid-item,
.grid-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;

}

.grid-item {
  text-align: center;
  font-size: 0.85rem;
}

/* Total amount styling */
.total,
.totalAmount {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: right;
  margin-top: 10px;
}

/* Reset button style */
.reset-button:hover {
  background-color: #f0bf65;
}

.delivery-section {
  padding-left: 20px
}

.delivery-section p {
  font-size: 0.9rem;
  padding-bottom: 10px
}

.delivery-section label {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  padding-bottom: 3px;
  /* margin-bottom: 15px; */
}

.delivery-section input[type="radio"] {
  margin-right: 5px;
}

/* Order form styling */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form div {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  /* margin-left: 4px; */
}

input {
  padding: 3px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.8rem;
}

.submit-button button {
  background-color: #da8d00;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  font-size: 1.1rem;
}


.grid-header {
  font-weight: bold;
  background-color: #d9d9d9;
  text-align: center;
  font-size: 0.55rem
}

.number-of-portions-header {
  grid-column: 3;
  /* Cột "Number of portions in a week" chiếm 3 cột */
  text-align: center;
}

.subheader-wrapper {
  grid-column: 3;
  /* Subheaders cũng chiếm 3 cột */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Chia thành 3 cột con */
  gap: 5px;
}

.grid-subheader {
  text-align: center;
  font-weight: 600;
  font-size: 0.65rem
}

.empty-space {
  grid-column: 1 / -1;
  height: 1px;
}

.quantity {
  display: flex
}

.quantity-control {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  border: none
}

.quantity-button,
.quantity-input {
  text-align: center;
  background-color: #f9f9f9;
  color: rgb(128, 128, 128);
  border: 1px solid #ddd;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.8rem;
  border-radius: 0%;
  /* box-sizing: border-box; */
}

.quantity-input {
  border-left: none;
  border-right: none;
  cursor: auto;
  width: 100%;
}

.quantity-button :hover {
  background-color: #0e0e0e;
}

.quantity-button-decrease {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.quantity-button-increase {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  margin-right: 2px;
}

.reset-button,
.clear-all-button {
  background-color: #da8d00;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.8rem
}

.clear-all-button {
  border-radius: 5px;
  background-color: #808080;
  margin-top: -15px
}

.clear-all-button:hover {
  background-color: #D3D3D3;
}

.clear-all-container {
  display: flex;
  justify-content: flex-end;
}

.total {
  font-weight: bold;
  text-align: right;
}

.delivery-section {
  border-bottom: 1px solid #ccc;
  border-top: none;
  padding-bottom: 5px
}

.frozen-section,
.cooked-section,
.both-section {
  margin-top: 20px;
}

.frozen-wontons,
.lunch-box {
  margin-top: 20px;
}

.header-options {
  display: flex;
  justify-content: space-between;
}


.num-weeks {
  font-size: 0.85rem;
  margin-bottom: 10px;
  text-align: center;
}

.num-weeks input {
  text-align: center;
  max-width: 30px;
  font-size: 0.8rem;
  margin-left: 5px;
}

.note-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.note-input {
  width: 100%;
  font-size: 0.8rem;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: vertical;
  overflow: hidden;
}

.order-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bank-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.9rem;
}

.payment-photo {
  max-width: 250px;
  /* margin-left: 5% */
}

.input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.lunch-note {
  font-size: 0.8rem;
  margin-top: -12px;
  color: #da8d00;
}

.promotion-container p {
  color: red;
  margin: auto;
  font-size: 0.8rem;

}

.promotion-container {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}

.order-preview-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding-top: 10px; */
}

.order-preview {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #d9d9d9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  line-height: 200%;
}

.order-preview p {
  font-weight: 600;
  color: #da8d00;
  text-decoration: underline;
}

.everyweek-line {
  padding-left: 3px;
}

.order-preview li {
  margin-left: 20px;
}

.submit-button {
  display: flex;
  align-items: center;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
    /* Bắt đầu tại vị trí ban đầu */
  }

  25% {
    transform: rotate(-10deg);
    /* Xoay sang trái */
  }

  50% {
    transform: rotate(10deg);
    /* Xoay sang phải */
  }

  75% {
    transform: rotate(-10deg);
    /* Lắc lại một lần nữa sang trái */
  }

  100% {
    transform: rotate(0deg);
    /* Kết thúc giữ nguyên vị trí */
  }
}

.shake-animation {
  cursor: pointer;
  display: inline-block;
  animation: shake 2s ease-in-out infinite;
  /* Hiệu ứng lắc đầu lặp lại */
  transform-origin: bottom;
  /* Điểm giữa của phần tử giữ nguyên */
}

@media (min-width: 481px) {
  /* large screen */

  .contact-info {
    width: 35%;
    font-size: 0.9rem;
  }

  .order-details {
    padding-top: 20px;
  }
}

@media (max-width: 650px) {
  /* medium screen */

  html {
    font-size: 14px;
  }

  .contact-info {
    margin: auto;
    min-width: 250px;
    font-size: 1.1rem;
    padding-bottom: 10px
  }

  .container {
    padding-left: 1px;
    padding-right: 2px
  }

  .grid-item {
    padding: 0;
    margin: 0
  }

  .grid-container {
    gap: 1px;
    padding: 0px;
  }

  .header3,
  .amount {
    display: none;
  }

  .grid-container.frozen {
    /* grid-template-columns: 3fr 2fr 3fr 1fr 1fr; */
    grid-template-columns: minmax(75px, 3fr) minmax(25px, 1fr) minmax(50px, 2fr) minmax(25px, 1fr);
  }

  .grid-container.cooked {
    /* grid-template-columns: 2fr 1fr 4fr 1fr 1fr; */
    grid-template-columns: minmax(70px, 4fr) minmax(25px, 1fr) minmax(125px, 3fr) minmax(25px, 1.5fr);
    /* gap: 5px; */
  }

  .reset-button {
    padding: 2px;
  }

  .quantity-button,
  .quantity-input {
    padding: 0 3px
  }


  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .delivery-section label {
    margin-bottom: 0;
  }

  .delivery-section input[type="radio"] {
    transform: scale(75%);
  }


  .container.payment-form {
    display: block;
    margin: auto;
    width: 75%
  }

  .order-form {
    margin: auto;
    width: 100%;
  }

  .num-weeks input {
    width: 30px;
    padding: 2px
  }

  .submit-button button {
    padding: 7px;
    margin-top: 5px
  }

  .order-details {
    display: block;
  }

  .order-preview {
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  /* small screen */

  html {
    font-size: 12px;
  }

  .contact-info {
    max-width: 200px;
    min-width: 0;
  }
}