* {
  font-family: poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  transition: transform 1s ease;
  box-sizing: border-box;
  padding-left: 3px;
  padding-right: 5px;
margin: auto;
  width: 100%;
  max-width: 1200px;

}


.container.clicked{
  transform: translateY(-30px);
}
.img-container.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.img-container.clicked {
  align-items: normal;
} 


.logo-container {
  /* border: 5px black solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  height: 100%;
}

.logo-container.logo-block {
  margin-top: 30px;
  align-items: normal;
  max-width: 50vh;
  min-width: 30vh;
  width: 40%;
  height: auto;
  margin-bottom: 5%;
}
.logo-block {
  /* display: block; */
  margin: 0 auto
}
.littlewonton {
  max-width: 80%;
}

.logo {
  margin-top: -12%;
  max-width: 40%;
}

.madewithlove {
  max-width: 25%;
  
}

.clickme {
  max-width: 25%;
  margin-top: -23%;
  margin-left: 55%
}

.clickme.logo-block {
  display: none;
}

.product-table {
  max-width: 800px;
  margin: 0 auto;
    }


body {
  background-color: #F7F5F2;
  color: #503d3d;
  overflow-x: hidden;
}

/* Header */
h1 {
  font-size: 1.5rem;
  margin: 20px;
  text-align: center;
}

.grid-container {
  display: grid;
  gap: 5px;
  margin-bottom: 20px;
  align-items: stretch;
  /* width: 100vw; */
}

/* Frozen grid configuration */
.grid-container.frozen {
  /* grid-template-columns: 3fr 2fr 3fr 1fr 1fr; */
  grid-template-columns: minmax(50px, 3fr) minmax(50px, 2fr) minmax(75px, 3fr) minmax(25px, 1fr) minmax(25px, 1fr);
}

.grid-container.cooked {
  display: grid;
  /* grid-template-columns: 2fr 1fr 4fr 1fr 1fr; */
  grid-template-columns: minmax(50px, 2fr) minmax(25px, 1fr) minmax(100px, 4fr) minmax(25px, 1fr) minmax(25px, 1fr);
  align-items: center;
}


.payment-photo {
  width: 40%;
}
    

/* Grid items and headers */
.grid-item,
.grid-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  
}

.grid-item {
  text-align: center;
  font-size: 0.85rem;
}

/* Total amount styling */
.total,
.totalAmount {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: right;
  margin-top: 10px;
}

/* Reset button style */
.reset-button:hover {
  background-color: #f0bf65;
}

.delivery-section p,
.delivery-location p {
  font-size: 0.9rem;
  padding-bottom: 10px
}
.delivery-location label,
.delivery-time label {
  display: block;
  font-size: 0.85rem;
  margin-bottom: 5px;
}

.delivery-location input[type="radio"],
.delivery-time input[type="radio"] {
  margin-right: 10px;
}

/* Order form styling */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form div {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  /* margin-left: 4px; */
}

input {
  padding: 3px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.8rem;
}

.submit-button button {
  background-color: #da8d00;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  font-size: 1.1rem;
}

button[type="submit"]:hover {
  background-color: #ffa43c;
}

/* General styles */

.grid-header {
  font-weight: bold;
  background-color: #d9d9d9;
  text-align: center;
  font-size: 0.55rem
}

.number-of-portions-header {
  grid-column: 3;
  /* Cột "Number of portions in a week" chiếm 3 cột */
  text-align: center;
}

.subheader-wrapper {
  grid-column: 3;
  /* Subheaders cũng chiếm 3 cột */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Chia thành 3 cột con */
  gap: 5px;
}

.grid-subheader {
  text-align: center;
  font-weight: 600;
  font-size: 0.8rem
}

.empty-space {
  grid-column: 1 / -1;
  height: 1px;
}
.quantity{
  display: flex
}
.quantity-control {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding:0;
  border:none
}

.quantity-button,
.quantity-input {
  text-align: center;
  background-color: #f9f9f9;
  color: rgb(128, 128, 128);
  border: 1px solid #ddd;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.8rem;
  border-radius: 0%;
  /* box-sizing: border-box; */
}

.quantity-input{
  border-left:none;
  border-right: none;
  cursor:auto;
  width: 100%;
}

.quantity-button :hover {
  background-color: #0e0e0e;
}
.quantity-button-decrease {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.quantity-button-increase {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  margin-right: 2px;
}

.reset-button {
  background-color: #da8d00;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.8rem
}

.total {
  font-weight: bold;
  text-align: right;
}

.delivery-section {
  border-bottom: 1px solid #ccc;
  border-top: none
}

.frozen-section,
.cooked-section,
.both-section {
  margin-top: 20px;
}

.frozen-wontons,
.lunch-box {
  margin-top: 20px;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.header-options {
  display: flex;
  justify-content: space-between;
}


.num-weeks{
  font-size: 0.85rem;
  margin-bottom: 10px;
  text-align: center;
}

.num-weeks input {
  text-align: center;
  max-width: 30px;
  font-size: 0.8rem;
  margin-left: 5px;
}

label input[type="radio"] {
  margin-right: 5px;
}

.delivery-section {
  padding-left: 20px
}

.note-container {
  margin-top: 10px;
  margin-bottom: 10px;
}
.note-input {
  width: 100%;
  font-size: 0.8rem;
  padding: 5px;
  border:1px solid #ddd;
  border-radius: 5px;
  resize: vertical;
  overflow: hidden;
}

.order-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bank-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.8rem;
}
.payment-photo{
  max-width: 250px;
  /* margin-left: 5% */
}

.input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.submit-button {
  display: flex;
  align-items: center;
}

@keyframes shake {
  0% {
      transform: rotate(0deg);
      /* Bắt đầu tại vị trí ban đầu */
    }
  
    25% {
      transform: rotate(-10deg);
      /* Xoay sang trái */
    }
  
    50% {
      transform: rotate(10deg);
      /* Xoay sang phải */
    }
  
    75% {
      transform: rotate(-10deg);
      /* Lắc lại một lần nữa sang trái */
    }
  
    100% {
      transform: rotate(0deg);
      /* Kết thúc giữ nguyên vị trí */
    }
  }

.shake-animation {
  cursor: pointer;
  display: inline-block;
  animation: shake 2s ease-in-out infinite;
  /* Hiệu ứng lắc đầu lặp lại */
  transform-origin: bottom;
  /* Điểm giữa của phần tử giữ nguyên */
}
@media (min-width: 481px) {
  .contact-info {
    width: 35%
  }
  .order-details {
    padding-top: 20px;
  }
}
@media (max-width: 480px) {
  html {
      font-size: 10px;
      /* Khi màn hình nhỏ hơn 768px, 1rem = 10px */
    }
  
  .container {
    padding-left: 1px;
    padding-right: 2px
  }
  
  .grid-item {
    padding: 0;
    margin: 0
  }
  .grid-container {
    gap: 1px;
    padding: 0px;
  }
  .grid-container.frozen {
    /* grid-template-columns: 3fr 2fr 3fr 1fr 1fr; */
    grid-template-columns: minmax(75px, 4fr) minmax(25px, 1fr) minmax(50px, 2fr) minmax(25px, 1fr) minmax(25px, 1fr);
  }

  .grid-container.cooked {
    /* grid-template-columns: 2fr 1fr 4fr 1fr 1fr; */
    grid-template-columns: minmax(70px, 3fr) minmax(25px, 1fr) minmax(125px, 4fr) minmax(25px, 1fr) minmax(25px, 1fr);
    /* gap: 5px; */
  }

  .reset-button {
    padding: 2px;
  }
  .quantity-button,
  .quantity-input {
    padding: 0 3px
    }

  
  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .delivery-section label,
  .delivery-location label {
    margin-bottom: 0;
  }

  .total {
    /* font-size: 13px; */
  }
  .container.payment-form {
    display: block;
    margin: auto;
    width: 75%
    /* justify-content: space-between */
  }
  .order-form {
    margin: auto;
    width: 100%;
    /* margin-right: 10% */
  }

  .num-weeks input {
    width: 30px;
    padding: 2px
  }
  .submit-button button {
    padding: 7px;
    margin-top: 5px
  }
  .order-details {
  display: block;
  }
  
}

.promotion-container{
  display: flex;
  margin-bottom: 10px;

}
.promotion-container p {
  margin: auto
}
.lunch-note {
  font-size: 0.8rem;
  margin-top: -12px;
  color: #da8d00;
}